@model NextStep.Models.StudentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="IndexCardView">Back to Cards</a>
</div>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedGraduation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedGraduation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Major)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Students" asp-action="AddComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" required />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.FirstName" />
                <input type="hidden" asp-for="@Model.LastName" />
                <input type="submit" value="Add Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
        @if (Model.Comments != null)
        {
            @foreach (var item in Model.Comments)
            {
                <div class="container">
                    <div class="card-deck">
                        <div class="card" style="width:20em;margin:10px;margin-bottom:10px">
                            <div class="card-body">
                                <div class="card-header">
                                    <h6>@item.CommentDate <br />@item.CommentedBy</h6>
                                </div>
                                <div class="card-text">
                                    <p>
                                        @item.Text
                                    </p>
                                </div>
                                <div class="card-text">
                                    <a asp-action="DeleteComment" asp-route-commentId="@item.Id" asp-route-studentId="@Model.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
</div>
